/**
* Header
*/
header.main {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-brand {
	padding-left: 0;
	padding-right: 0;
}
.nav-pills.navbar-right {
	margin-right: 0;
}

/**
* ToDo's
*/
.list-group-header strong {
	margin-top: 4px;
	display: inline-block;
}
.list-group-item label,
.list-group-item input[type=text] {
	margin: 0;
	width: 100%;
	border: none;
	padding: 10px 45px 10px 45px;
}
.list-group-item label {
	text-decoration: line-through;
}
.list-group-item button {
	top: 10px;
	position: absolute;
}
.list-group-item button.undo,
.list-group-item button.check {
	left: 10px;
}
.list-group-item button.undo,
.list-group-item button.remove {
	display: none;
}
.list-group-item button.remove {
	right: 10px;
}
.list-group-item:hover button.undo,
.list-group-item:hover button.remove {
	display: block;
}

/**
* Util
*/
.no-padding {
	padding: 0 !important;
}